extends ./layout/index

block contenido
    main.container.mt-5
        .row    
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam pretium blandit purus, id porttitor nunc ornare quis. Nulla et neque odio. Nam vel mi sed justo suscipit dapibus. In in nunc et erat rhoncus pharetra sit amet vitae turpis. Vestibulum accumsan molestie erat. Curabitur faucibus vel neque ut tincidunt. Curabitur suscipit scelerisque nulla, ac cursus enim pharetra id. Ut felis urna, tempor ac rutrum nec, ornare sit amet eros. Nullam dictum, velit nec semper pulvinar, ipsum justo lobortis libero, sit amet dictum tortor ligula at ex. Phasellus velit mauris, laoreet quis tempus sit amet, finibus non nisi. Fusce dapibus nisl at turpis eleifend posuere.  scelerisque. Phasellus porta malesuada faucibus.

                p In bibendum tellus erat, eu congue eros tincidunt sit amet. Curabitur nec eros vel ligula sodales suscipit sit amet id leo. Nulla eu tempor metus, a ullamcorper nunc. Curabitur nec maximus arcu, quis tincidunt orci. Nulla cursus varius odio, eu egestas augue sollicitudin vel. Fusce vestibulum tristique ante, vel pharetra urna ultrices quis. Nullam magna magna, sollicitudin nec magna quis, aliquam maximus mi. Vivamus vitae libero efficitur turpis aliquam tristique. Duis volutpat ex eget elementum laoreet. Vivamus 

                p ut pretium dui. Fusce nisl mauris, elementum placerat risus id, tempor ullamcorper mi. Phasellus ultrices leo ut ligula vulputate faucibus. Suspendisse semper gravida nunc non dictum. In vitae congue risus, a egestas purus. Vestibulum luctus mattis tristique. Sed bibendum volutpat leo sit amet convallis. Duis pharetra massa sed mi lacinia mollis. Suspendisse purus lacus, consectetur sed volutpat eget, pellentesque in nibh. Praesent varius ornare accumsan. Vivamus egestas massa ut massa condimentum tempor.

    .listado-iconos 
        .container.nt-5.py-5.text-center
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono Seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p sed volutpat eget, pellentesque in nibh. Praesent varius ornare accumsan. Vivamus egestas massa ut massa condimentum tempor.
                
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos
                    p sed volutpat eget, pellentesque in nibh. Praesent varius ornare accumsan. Vivamus egestas massa ut massa condimentum tempor.

                    .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precios" class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p sed volutpat eget, pellentesque in nibh. Praesent varius ornare accumsan. Vivamus egestas massa ut massa condimentum tempor.